
    <div class="content {% if include.align %} {{ include.align }} {% else %} has-text-centered {% endif %}">
        {% for num in (1..include.rating) %}
        <span class="icon">
            <ion-icon name="hammer-sharp" size="large"></ion-icon>
            <!--<i class="ion-ionic ion-eye"></i>-->
        </span>
        {% endfor %}
        {% assign remainder = 5 | minus: include.rating %}
        {% for num in (1..remainder) %}
        <span class="icon">
            <ion-icon name="hammer-outline" size="large"></ion-icon>
            <!--<i class="far fa-wrench"></i>-->
        </span>
        {% endfor %}
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
