<div class="columns">
    <div class="column is-4">
        <a href="{{include.link}}"><img src="{{include.link}}" alt="image"/></a>

    </div>
    <div class="column is-8">
        {{include.content | markdownify }}
    </div>
</div>

