---
---
$primary: #ff8200;
$link: #ff4d00;
// Import Main CSS file from theme
@import "main";


.footer {
    padding: 2rem 1.5rem 2rem;
}

.preview {
    display: none;
}
.link:hover .preview {
    display: inline-block;
    position: absolute;
    border: 1px solid black;
}

.shadow {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

/*
img[alt$="-hover"] {
    //display: none;
    position: absolute;
    content: attr(alt);
    color: #333;

}

img[alt$="-hover"]:hover {
    display: inline-block;
    position: absolute;
    border: 1px solid black;
 }
 */
