---
layout: default
show_sidebar: false
---

{% assign sorted_projects = site.projects | sort:page.sort %}

<!-- Recupère la liste des tags "Domaine" (area) -->

{% assign areaArray = '' | split: ',' | sort_natural %}

{% for project in sorted_projects %}
  {% assign areas = project.area | split: "," %}
  {% for area in areas %}
    {% assign areaArray = areaArray | push: area | sort_natural %} 
  {% endfor %}
{% endfor %}

{% assign uniqAreas = areaArray | uniq %}

<!-- Affiches les domaines -->

<div class="content">
  <p class="subtitle is-6"><b>Domaine(s) :</b>
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <a href="../projets" class="tag is-rounded is-link is-info">Tout</a>
      </div>
      <div class="control">
        <a href="../projetsI3" class="tag is-rounded is-link is-danger">Projets I3</a>
      </div>
      {% for area in uniqAreas %}
      <div class="control">
        <a href="{{ project.url | relative_url }}" class="tag is-rounded is-link is-primary">{{ area }}</a>
      </div>
      {% endfor %}
    </div>
  </p>
</div>

<!-- CONTENT -->

<div class="columns is-multiline">

  <div class="column is-12">
    {{ page.content }}
  </div>

  {% if page.type %}
  {% for project in sorted_projects %}
      {% if page.type == project.type%}
        <div class="column is-4-desktop is-6-tablet">
          <a href="{{ project.url | relative_url }}">
            <div class="card">
              {% if project.image %}
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="{{ project.image }}" alt="{{ project.title }}" />
                </figure>
              </div>
              {% endif %}
              <div class="card-content">
                <p class="title is-4">{{ project.title }}</h2>
                <p class="subtitle is-4">Tuteur: {{ project.tutor }}</p>  
              </div>
            </div>
          </a>
        </div>
      {% endif %}
  {% endfor %}
  {% else %}
    {% for project in sorted_projects %}
      <div class="column is-4-desktop is-6-tablet">
        <a href="{{ project.url | relative_url }}">
          <div class="card">
            {% if project.image %}
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ project.image }}" alt="{{ project.title }}" />
              </figure>
            </div>
            {% endif %}
            <div class="card-content">
              <p class="title is-4">{{ project.title }}</h2>
              <p class="subtitle is-4">Tuteur: {{ project.tutor }}</p>  
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</div>

